// variables.scss
$primary-color: #007bff;
$grey: #F3F7F4;
$grey-btn: #f8f7f6;
$grey-bg: #E8EFE9;
$grey-border: #BDCDC5;
$green: #6D8A83;
$green-border: #91ab9f;
$green-dark:#0B3B3C;
$green-light:#6D8A83;
$green-bg: #A4B69E;
$red-bg: #7E0707;

